Source: libtrace
Section: libs
Priority: optional
Maintainer: Krisztian Litkey <krisztian.litkey@nokia.com>
Standards-Version: 3.6.1
Build-Depends: cdbs, debhelper (>= 4.1.0)

Package: libtrace0
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
XB-GIT-ID: f9d3907e7378943da8a8b0b24b7f0bdb4e77c9a8
Description: A simple tracing library.
 A simple tracing library.
 .

Package: libtrace-dev
Architecture: any
Section: libdevel
Depends: libtrace0
Conflicts: libtrace0-dev
Provides: libtrace0-dev
XB-GIT-ID: f9d3907e7378943da8a8b0b24b7f0bdb4e77c9a8
Description: Development files for libtrace.
 .
 Header and pkg-config files for libtrace.

Package: libtrace-doc
Architecture: all
Section: doc
XB-GIT-ID: f9d3907e7378943da8a8b0b24b7f0bdb4e77c9a8
Description: Documentation for libtrace.
 .
 Documentation for libtrace (other than the manual pages).


